


/* the latest css */
.homeconatiner {
  width: 100%;
}
/* .blog {
  margin: 50px 0;
} */

.mainblog {
  display: flex;
  width: 90%;
  height: 100%;
}

.blog1 {
  display: flex;
  flex-direction: row;
  height:90%;
  width: 100%;
  margin-top: 10px;
  margin: 10px;
}
.blog1 img {
  height: 500px;
  width: 127%;
  margin-left: 10%;
}

.mainblog2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin-left: 20%;
  margin-top: 10px;
}
.blog2 {
  display: flex;
  flex-direction: column;
  margin: 3%;
  margin-top: 1%;
  margin-left: 10%;
}

.blog2 img {
  height: 240px;
  width: 120%;
  margin-left: -10px;
}



/* img{
  height: 700px;
  width: 700px;
} */
.blog .boxItem {
  transition: 0.5s;
  background-color: rgb(253, 253, 243);
}
.blog .boxItem:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 /8%);
  cursor: pointer;
  transform: translateY(-5px);
}
.grid3 {
 display: flex;
}
.blog img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
}
.description {
  font-size: 15px;
  padding: 0;
  font-weight: 300;
  text-transform: none;
  color: #999;
  margin-left: 0;
  left: 0px;
  width: 100%;
  height: auto;
  opacity: 1;
  margin-top: 20px;
}
.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}
.blog .tag a {
  color: blue;
  opacity: 0.7;
}
.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.blog .date {
  display: flex;
  align-items: center;
}
.blog .date label {
  display: block;
  margin-right: 20px;
}
.link {
  color: #000;
}
.container {
  max-width: 95%;
  margin: auto;
}

/* latest article css */
.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1700px;
}
.article {
  width: 90%;
  margin-left: 30px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.article:last-child {
  border-bottom: none;
}
.article img {
  height: 250px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.article .date {
  display: grid;
  grid-template-columns: repeat(1fr);
}
.article h6 {
  font-size: 12px;
  font-weight: 300;
}

.advertisement {
  margin-left: 80px;
  height: 600px;
  width: 70%;
  border: 1px solid;
}
.adt {
  margin-top: 350px;
  margin-left: 100px;
}

.randomImage img {
  margin-left: 30px;
  height: 400px;
  width: 80%;
  margin-top: 30px;
}
.topPosts {
  position: relative;
  top: -500px;
  margin-left: 50px;
  width: 80%;
}
.topPosts img {
  height: 185px;
  width: 316px;
  margin-right: 5px;
}
.topPost {
  display: flex;
  margin: 10px 0px;
  width: 80%px;
  border-bottom: 1px solid;
  padding: 30px 0px;
}
.topPost:last-child {
  border-bottom: none;
}
.topPost img {
  height: 100px;
  width: 100px;
}
.topPost h2 {
  font-size: 16px;
  margin-bottom: 30px;
}
.topPost h6 {
  font-size: 12px;
}
.Stories {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  height: 340px;
  margin: 20px;
  justify-content: space-between;
  padding: 50px 100px 50px 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.sPost {
  height: 100px;
  width: 300px;
  padding-left: 30px;
}
.sPost h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.sPost h6 {
  font-size: 14px;
  font-weight: 300;
}

/* Bollywood css */
.Main {
  width: 100%;
  display: flex;
  position: relative;
}
.section1 {
  margin-top: 80px;
  margin-left: 10px;
  width: 50%;
}
.allPosts {
  height: auto;
  width: 80%;
}
.allPosts img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
}
.latest1 {
  display: flex;
  margin: 30px 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  width: 130%;
}
.latest1:last-child {
  border-bottom: none;
}

.latest1 h4 {
  font-size: 18px;
}
.latest1 h6 {
  font-size: 12px;
  font-weight: 300;
}
.bollyS2 {
  margin-top: 80px;
  margin-left: 100px;
  width: 35%;
}
.natureImg {
  height: 200px;
  width: 70%;
  margin-left: 100px;
}

.allTopPosts {
  margin-left: 100px;
  width: 80%;
}
.latest2 {
  display: flex;
  height: auto;
  width: 100%;
  margin: 20px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.latest2:last-child {
  border-bottom: none;
}
.latest2 img {
  height: 160px;
  width: 200px;
  margin-right: 5px;
}
.latest2 h4 {
  font-size: 14px;
}
.latest2 h6 {
  font-size: 9px;
  font-weight: 300;
}

.Main .advertisment {

  position: absolute;
  height: 600px;
  width: 30%;
  border: 1px solid black;
  right: 50px;
  bottom: 10px;
  z-index: 4;
  opacity: 1; 
}

.giff{
  height: 600px;
  width: 100%;

}


.ad {
  margin-top: 200px;
  margin-left: 100px;
}

#link {
  text-decoration: none;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
  
  .homeconatiner{
    margin-top:-80px;
  }

  
  .Main .advertisment {
    display: none;
  }
  .mainblog {
    display: flex;
    margin-top: 5px;
  }
  .allTopPosts {
    align-items: center;
    margin-left: 50px;
  }
  .links {
    margin-top: 54px;
    background-color: white;
  }
  .bollyS2 {
    align-items: center;
    justify-content: center;
  }
  .natureImg {
    margin: 50%;
  }
  

  a.NavLink {
    height: 10px;
    margin: 1px;
    background-color: orange;
    margin-left: 30px;
    margin-right: 30px;
  }

  .blog1 {
    flex-direction: column;
  }

  .blog1 img {
    width: 200px;
    height: 210px;
  }

  .blog2 img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .blog3 img {
    width: 100px;
    height: 100px;
  }

  .mainblog2 {
    display: flex;
    margin-top: 0px;
    margin-left: 40px;
  }
  .blog2 {
    display: flex;
    flex-direction: column;

    margin: 7px;
  }

  .p1 {
    margin-top: 50px;
    width: 100%;
  }

  .footer {
    height: 114px;
    width: 100%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1180px) {


  h3 {
    position: relative;
    top: 85px;
    left: 346px;
    width: 39px;
    height: 60px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    text-align: left;
    font: normal normal medium 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    position: relative;
    top: 0px;
    left: 382px;
    width: 190px;
    height: 87px;
    text-align: left;
    font-size: 52px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 700;
  }
  .mainblog {
    display: flex;
    width: 100%;
    margin-top: -10px;
  }
  
  .blog1 {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    margin-left: 40px;
  }
  .blog1 img {
    height: 400px;
    width: 80%;
    margin-left: 10px;
  }
  
  .mainblog2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 0px;
  }
  .blog2 {
    display: flex;
    flex-direction: column;
    
    margin: 12px;
    margin-top: -2px;
  }
  
  .blog2 img {
    height: 190px;
    width: 110%;
    margin-left: -50px;
    margin-top: 5px;
  }

  .blog{
    width: 95%;
  }
  .grid3{
    display: flex;
    margin-left: 0px;
  }

  .boxItem{
    width: 35%;
    margin: 10px;
  }
  .boxItem img{
    width: 60%;
    height: 60%;
  }

  

  .bollyS2 {
    margin-top: 80px;
    margin-left: 50px;
    width: 40%;
  }

  .section2{
    margin-bottom: -10px;
  }

  .giff{
    height: 545px;
    width: 100%;
  
  }

  .section2 .article{
    width:80%;
    padding:5px;
  }

  .randomImage{
    position: relative;
    height: 300px;
  }

  .randomImage img{
    height: 300px;
    width: 70%;
    margin-left:50px;
    margin-top: 50px;
    
  }

  .advertisement {
    margin-left: 80px;
    height: 480px;
    width: 70%;
    border: 1px solid;
    margin-top: -10px;
  }
  .adt {
    margin-top: 200px;
    margin-left: 50px;
  }

  .topPosts {
    position: relative;
    top:-63%;
    margin-left: 50px;
    width: 80%; 
  
 }

 .articles {
  margin-top: 50px;
 }
 .article{
  margin-top: 50px;
 }
  
 .article img {
  height: 90%;
  width: 90%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.section3{
  margin-top: -50px;
}

.Stories{
  
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: -54px;
    width: 106%;
    padding-top: 4px;

 
}

.sPost{
  margin: 10px;
  width: 130%;


}


/* bollywoodpage css */


.Main {
  width: 100%;
  display: flex;
  position: relative;
}
.section1 {
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
}
.allPosts {
  height: auto;
  width: 80%;
}
.allPosts img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
}
.latest1 {
  display: flex;
  margin: 30px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  width: 130%;
}

.latest1 img{
  width: 90%;
}
.latest1:last-child {
  border-bottom: none;
}

.latest1 h4 {
  font-size: 18px;
}
.latest1 h6 {
  font-size: 12px;
  font-weight: 300;
}
.bollyS2 {
  margin-top: 10px;
  margin-left: 100px;
  width: 35%;
}
.natureImg {
  height: 200px;
  width: 90%;
  margin-left: -20px;
}

.allTopPosts {
  margin-left: 20px;
  width: 80%;
}
.latest2 {
  display: flex;
  height: auto;
  width: 100%;
  margin: 20px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.latest2:last-child {
  border-bottom: none;
}
.latest2 img {
  height: 150px;
  width:90%;
  margin-right: 5px;
}
.latest2 h4 {
  font-size: 14px;
}
.latest2 h6 {
  font-size: 9px;
  font-weight: 300;
}

/* .Main .advertisment {

  position: absolute;
  height: 500px;
  width: 80%;
  border: 1px solid black;
  right: 50px;
  bottom: 10px;
  z-index: 4;
  opacity: 1; 
} */


.p1 .Main .advertisment {
  margin-top: 100%;
  margin-right:-3%;
  height: 600px;
  width: 300px;
  border: 1px solid black;
  margin-bottom: 10px;
}


.giff{
  height: 600px;
  width: 100%;

}




/* details page css */







}
