.category {
  margin-top: 50px;
  position: relative;
}
.category .box {
  border-radius: 0;
  text-align: center;
}
.category p {
  display: inline;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}
.category img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.category .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
}
.category .box {
  cursor: pointer;
  position: relative;
}
.category .overlay {
  position: absolute;
  top: 80px;
  padding: 20px;
  text-align: center;
  z-index: 2;
  color: #fff;
}
.category .overlay h4 {
  font-weight: 500;
  color: rgb(253, 246, 126);
}
.category .overlay p {
  color: #fff;
  font-weight: 300;
  display: block;
}
.control-btn button {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(0 0 0 /16%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 2px;
}
.control-btn .next {
  position: absolute;
  top: 40%;
  right: 20px;
  z-index: 99;
}
.control-btn .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 99;
}
.description {
  font-size: 15px;
  padding: 0;
  font-weight: 300;
  text-transform: none;
  color: #999;
  margin-left: 0;
  left: 0px;
  width: 100%;
  height: auto;
  opacity: 1;
  margin-top: 20px;
}

/* the latest css */
.homeconatiner {
  width: 100%;
}
.blog {
  margin: 50px 0;
}

.mainblog {
  display: flex;
  width: 100%;
}

.blog1 {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 800px;
  margin: 10px;
}
.blog1 img {
  height: 550px;
  width: 80%;
  margin-left: 10px;
}

.mainblog2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 0px;
}
.blog2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.blog2 img {
  height: 290px;
  width: 90%;
  margin-left: -10px;
}

.blog3 img {
  height: 250px;
  width: 86%;
}

/* img{
  height: 700px;
  width: 700px;
} */
.blog .boxItem {
  transition: 0.5s;
  background-color: rgb(253, 253, 243);
}
.blog .boxItem:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 /8%);
  cursor: pointer;
  transform: translateY(-5px);
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}
.blog .tag a {
  color: blue;
  opacity: 0.7;
}
.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.head {
  border-bottom: 1px solid #f08080;
  width: 90px;
  height: 3px;
  margin-bottom: 20px;
}
.blog .date {
  display: flex;
  align-items: center;
}
.blog .date label {
  display: block;
  margin-right: 20px;
}
.link {
  color: #000;
}
.container {
  max-width: 95%;
  margin: auto;
}

/* latest article css */
.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1700px;
}
.article {
  width: 90%;
  margin-left: 30px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.article:last-child {
  border-bottom: none;
}
.article img {
  height: 250px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.article .date {
  display: grid;
  grid-template-columns: repeat(1fr);
}
.article h6 {
  font-size: 12px;
  font-weight: 300;
}

.advertisement {
  margin-left: 80px;
  height: 600px;
  width: 70%;
  border: 1px solid;
}
.adt {
  margin-top: 350px;
  margin-left: 100px;
}

.randomImage img {
  margin-left: 80px;
  height: 450px;
  width: 600px;
  margin-top: 30px;
}
.topPosts {
  position: relative;
  top: -500px;
  margin-left: 50px;
  width: 80%;
}
.topPosts img {
  height: 185px;
  width: 316px;
  margin-right: 5px;
}
.topPost {
  display: flex;
  margin: 10px 0px;
  width: 80%px;
  border-bottom: 1px solid;
  padding: 30px 0px;
}
.topPost:last-child {
  border-bottom: none;
}
.topPost img {
  height: 100px;
  width: 100px;
}
.topPost h2 {
  font-size: 16px;
  margin-bottom: 30px;
}
.topPost h6 {
  font-size: 12px;
}
.Stories {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  height: 340px;
  margin: 20px;
  justify-content: space-between;
  padding: 50px 100px 50px 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.sPost {
  height: 100px;
  width: 300px;
  padding-left: 30px;
}
.sPost h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.sPost h6 {
  font-size: 14px;
  font-weight: 300;
}

/* Bollywood css */
.Main {
  width: 100%;
  display: flex;
  position: relative;
}
.section1 {
  margin-top: 80px;
  margin-left: 10px;
  width: 50%;
}
.allPosts {
  height: auto;
  width: 80%;
}
.allPosts img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
}
.latest1 {
  display: flex;
  margin: 30px 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  width: 130%;
}
.latest1:last-child {
  border-bottom: none;
}

.latest1 h4 {
  font-size: 18px;
}
.latest1 h6 {
  font-size: 12px;
  font-weight: 300;
}
.bollyS2 {
  margin-top: 80px;
  margin-left: 100px;
  width: 35%;
}
.natureImg {
  height: 200px;
  width: 70%;
  margin-left: 100px;
}

.allTopPosts {
  margin-left: 100px;
  width: 80%;
}
.latest2 {
  display: flex;
  height: auto;
  width: 100%;
  margin: 20px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.latest2:last-child {
  border-bottom: none;
}
.latest2 img {
  height: 160px;
  width: 200px;
  margin-right: 5px;
}
.latest2 h4 {
  font-size: 14px;
}
.latest2 h6 {
  font-size: 9px;
  font-weight: 300;
}

.Main .advertisment {

  position: absolute;
  height: 600px;
  width: 30%;
  border: 1px solid black;
  right: 50px;
  bottom: 10px;
  z-index: 4;
  opacity: 1; 
}

.giff{
  height: 600px;
  width: 100%;

}


.ad {
  margin-top: 200px;
  margin-left: 100px;
}

#link {
  text-decoration: none;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
  
  
  .Main .advertisment {
    display: none;
  }
  .mainblog {
    display: flex;
    margin-top: 5px;
  }
  .allTopPosts {
    align-items: center;
    margin-left: 50px;
  }
  .links {
    margin-top: 54px;
    background-color: white;
  }
  .bollyS2 {
    align-items: center;
    justify-content: center;
  }
  .natureImg {
    margin: 50%;
  }
  

  a.NavLink {
    height: 10px;
    margin: 1px;
    background-color: orange;
    margin-left: 30px;
    margin-right: 30px;
  }

  .blog1 {
    flex-direction: column;
  }

  .blog1 img {
    width: 200px;
    height: 210px;
  }

  .blog2 img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .blog3 img {
    width: 100px;
    height: 100px;
  }

  .mainblog2 {
    display: flex;
  }
  .blog2 {
    display: flex;
    flex-direction: column;

    margin: 10px;
  }

  .p1 {
    margin-top: 50px;
    width: 100%;
  }

  .footer {
    height: 114px;
    width: 100%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1180px) {
  .p1 .Main .advertisment {
    margin-top: 100%;
    height: 550px;
    width: 350px;
    border: 1px solid black;
    margin-bottom: 10px;
  }

  .bollyS2 {
    margin-top: 80px;
    margin-left: 50px;
    width: 40%;
  }

  .section2{
    margin-bottom: -240px;
  }

  .giff{
    height: 545px;
    width: 100%;
  
  }

  .section2 .article{
    width:80%;
    padding:20px;
  }

  .section2 .advertisement{
    margin-top:-50px;
    height: 400px;
    width: 60%;
    border: 1px solid;
  }

  .section2 .advertisement .adt{
    margin-top: 200px;
    margin-left:50px;
  }
  .randomImage{
    position: relative;
  }

  .randomImage img{
    height: 300px;
    width: 70%;
    margin-left:50px;
    margin-top: 50px;
    
  }

  .topPosts {
    position: relative;
    top:-525px;
    margin-left: 50px;
    width: 80%; 
  
 }
  
 .article img {
  height: 90%;
  width: 90%;
  margin-right: 20px;
  margin-bottom: 20px;
}

}
